#wrapper{
    width: 400px;
}

#header{
    font-size: 25px;
}

#header i{
    font-size: 25px;
}

.buttonStyle{
    font-size: 15px;
}

#navBar{
    width: 20%;
}

#main{
    margin-left: 20%;
}

#formatContact{
    display: none
}

#hideWhenSmall{
    display: none
}